<div class="row" class="listing-header" data-group-id="<%=@group_id%>">
  <div class="alert alert-success" role="alert">Click on the check box accross a pairing to accept it</div>
<!--   Filter panel and button
 -->
  <div class="col-md-12 calendar-row">
     <button type="button" class="btn btn-default" id="add_button">Add Your Availabilty</button>
  </div>
</div>

<div class="row">
  <!-- Date Listing -->
  <% @listings.each do |date_of_week, studentschedules| %>
  <div class="col-md-3 calendar-row">
      <div class="calendar-day-header"><h4><%=date_of_week%></h4></div>
      <%studentschedules.each do |studentschedule| %>
        <div class="calendar-listing" data-id="<%=studentschedule.id%>">
        <span class="schedule_buttons">
             <% if current_user.id == studentschedule.student.id %>
            <button type="button" class="delete_schedule glyphicon glyphicon-remove" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
          <%else%>
            <button type="button" class="accept_schedule glyphicon glyphicon-ok" data-dismiss="alert" aria-label="Accept"><span aria-hidden="true"></span></button>

          <%end%>
        </span>

          <%=studentschedule.student.fname%> <%=studentschedule.student.lname%>
          <%=studentschedule.schedule.formatTimeSlot%>
          <%if studentschedule.schedule.agenda %>
             <span>(<%=studentschedule.schedule.agenda%>)</span>
          <%end%>
        </span>
        </div>

      <%end%>

  </div>
  <%end%>
</div>
